*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body ,
html{
  overflow-x: hidden;
  height: auto;
  width: auto;
  background-image: url("../images/plans-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #06c465;
    position: fixed;
}
.logo img{
    height: 40px;
    width: 40px;
    margin: 15px 60px;
}
nav ul{
    float: right;
    display: flex;
}
nav ul li{
    list-style-type: none;
    line-height: 80px;
    padding: 0 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li a.bg-red, a:hover{
    background-color: #ff0063;
    padding: 5px;
    border-radius: 8px;
    color: #dbd0d0;
}
#checkbtn{
    float: left;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
   
}
#check{
    display: none;
}
#check:checked ~ ul{
    left:-200px
}



.package-container{
    width: 100%;
    height: 100%;
}
.package-sec{
     width: 850px;
    height: 210px;
    border: 2px solid #006400;
    margin: 105px 1px 0px 250px;
    background-color: #d5ffdc;}
.inner-sec{
        width: 790px;
        height: 65px;
        border: 1px solid #006400;
        margin: 50px 0px 0px 20px;
        background-color: #ffff;
        padding: 2%;
}
.inner-sec p{
    color: #808080;
    font-size: 18px;
}
.inner-text{ 
    margin: 35px 0 0 0;
}
.inner-text h2{
    margin: 20px 0px 20px 20px;
}

.inner-text h3{
    margin: 20px 0px -35px 20px;
    color: gray;
}


.package-sec1{
     width: 850px;
    height: 210px;
    border: 2px solid #006400;
    margin: 30px 0px 0px 465px;
    background-color: #d5ffdc;
}
.inner-sec1{
        width: 790px;
        height: 65px;
        border: 1px solid #006400;
        margin: 50px 0px 0px 20px;
        background-color: #ffff;
        padding: 2%;
}
.inner-sec1 p{
    color: #808080;
    font-size: 18px;
}
.inner-text1{ 
    margin: 35px 0 0 0;
}
.inner-text1 h2{
    margin: 20px 0px 20px 20px;
}

.inner-text1 h3{
    margin: 20px 0px -35px 20px;
    color: gray;
}



.package-sec2{
        width: 850px;
    height: 210px;
    border: 2px solid #006400;
    margin: 30px 1px 40px 250px;
    background-color: #195729;
}
.inner-sec2{
        width: 790px;
        height: 65px;
        border: 1px solid #006400;
        margin: 50px 0px 0px 20px;
        background-color: #ffff;
        padding: 2%;
}
.inner-sec2 p{
    color: #808080;
    font-size: 18px;
}
.inner-text2{ 
    margin: 35px 0 0 0;
}
.inner-text2 h2{
    margin: 20px 0px 20px 20px;
}

.inner-text2 h3{
    margin: 20px 0px -35px 20px;
    color: gray;
}

.footer{
  background-color: #000000;
    color: #ffff;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.text1{
  padding-inline: 30px;
      margin-top: 30px;

}









@media screen and (max-width: 640px) {
 #checkbtn{
        position: absolute;
        display: block;
        margin-left: 10px;
        z-index: 999;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        flex-direction: column;
        top: -10px;
        left: -100%;
    }
    nav ul li{
      display: block;
      text-align: center;
      transform: translate(100px, 150px);
    }
}