*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  height: auto;
  width: auto;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #06c465;
    position: fixed;
}
.logo img{
    height: 40px;
    width: 40px;
    margin: 15px 60px;
}
nav ul{
    float: right;
    display: flex;
}
nav ul li{
    list-style-type: none;
    line-height: 80px;
    padding: 0 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li a.bg-red, a:hover{
    background-color: #ff0063;
    padding: 5px;
    border-radius: 8px;
    color: #dbd0d0;
}
#checkbtn{
    float: left;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
   
}
#check{
    display: none;
}
#check:checked ~ ul{
    left:-200px
}


.container {
  width: 100vw;
  background-image: url("/Proj/images/freedom.jpg");
  height: 500px;
  background-size: cover;
  /* opacity: 0.7; */
}
.container h2{
  color: white;
  position: relative;
  top: 450px;
  left: 20px;
  font-size: 30px;
}

.mid-container p{
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
  font-size: large;
  color: #06c465;
}
.card {

  transition: 0.3s;
  width: 250px;
  height:250px;
  background-color: rgb(213,255,220);
  text-align: center;

}
.card1 {
  box-shadow: 2px 2px 5px #538e5e;
    transition: 0.3s;
    width: 250px;
    height: 275px;
    background-color: #19b84c;
    z-index: 10;
    transform: translateY(-10px);
    text-align: center;
}
.card-sec{
display:flex;
justify-content: center;
margin-top: 20px;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
} */

.container {
  padding: 2px 16px;
}

.container1 h4{
  margin: 25px 10px 10px 10px;
    font-size: smaller;
}
.container1 p{
  margin: 18px 8px 8px 8px;
}

/* Pink section(Promotion) */

.pink_section {
    margin-top: 150px;
    background-color: #ff1b68;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecedf1;
    font-weight: bolder;
}

.pink_section>* svg {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 30px;
    background-color: white;
    border: 2px solid black;
}

.promotion {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin: 20px;
}

.lr_margin {
    margin: 0 40px;
}

.footer{
  background-color: #000000;
    color: #ffff;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.text1{
  padding-inline: 30px;
      margin-top: 30px;

}


/* RWD Section */

@media screen and (max-width: 640px) {
 #checkbtn{
        position: absolute;
        display: block;
        margin-left: 10px;
        z-index: 999;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        flex-direction: column;
        top: -10px;
        left: -100%;
    }
    nav ul li{
      display: block;
      text-align: center;
      transform: translate(100px, 150px);
    }


    .card-sec{
      margin-top: 20px;
      display: grid;
}

.card {

  transition: 0.3s;
  width: 250px;
  height:250px;
  background-color: rgb(213,255,220);
  text-align: center;

}
.card1 {
  box-shadow: 2px 2px 5px #538e5e;
    transition: 0.3s;
    width: 250px;
    height: 275px;
    background-color: #19b84c;
    z-index: 10;
    transform: translateY(-10px);
    text-align: center;
}


.container {
  padding: 2px 16px;
}

.container1 h4{
  margin: 25px 10px 10px 10px;
    font-size: smaller;
}
.container1 p{
  margin: 18px 8px 8px 8px;
}


.promotion {
        flex-direction: column;
    }

    .pink_section {
        transform: translateY(-80px);
    }

    .lr_margin {
        margin-top: 50px;
    }

    .footer {
        transform: translateY(-25px);
        flex-direction: column;
    }

    .text1 {
        align-self: center;
        margin-top: 15px;
        margin-left: -10px;
    }



}
