* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: #a8a383; */
}

body,
html {
    width: auto;
    height: auto;
    overflow-x: hidden;
    /* background-color: #a8a383; */
}

nav {
    width: 100%;
    height: 80px;
    background-color: #06c465;
}

.logo img {
    height: 40px;
    width: 40px;
    margin: 15px 60px;
}

nav ul {
    float: right;
    display: flex;
}

nav ul li {
    list-style-type: none;
    line-height: 80px;
    padding: 0 20px;

}

nav ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.hov{
    font-weight: bold;
}
.hov:hover{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
nav ul li a.bg-red{
    background-color: #ff0063;
    padding: 10px;
    border-radius: 20px;
    color: white;
}
.start_hosting:hover{
   background-color: white;
   color: #ff0063;
}

#checkbtn {
    float: left;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;

}

#check {
    display: none;
}

#check:checked~ul {
    left: -200px
}
form{
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: repeat(6 auto);
   justify-items: center;
   padding: 40px;
}
.inp-2, .inp-3, .inp-4, .inp-5, .inp-6{
    display: grid;
    grid-template-columns: 110px 1fr;
    padding: 20px;
}
input[type=text], input[type=email], input[type=email], input[type=password],select{
    height: 30px;
}
 h3{
    color: #dd5959;
    margin-bottom: 20px;
 }
 label, p, a{
    font-weight: bold;
 }
 #title{
    width: 280px;
    margin-top: 10px;
 }
 #agree{
    margin-right: 2px;
 }
 .name{
    margin-right: 0px;
 }
 .email{
    margin-right: 66px ;
 }
 button{
    width: 100px;
    background-color: darkgreen;
    padding: 6px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-left: -170px;
 }
 button:hover{
    width: 125px;
    height: 35px;
    background-color: white;
    color: darkgreen;
    font-weight: bolder;
    transition: 0.7s ease;
    box-shadow: 5px 5px 10px gray;
 
 }
 .bg-pink{
    background-color: #dd5959;
    border: 1px solid red;
 }
.white-font {
    color: #d5ffdc;
}

.footer{
  background-color: #000000;
    color: #ffff;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.text1{
  padding-inline: 30px;
      margin-top: 30px;

}

@media(max-width:640px) {
    #checkbtn {
        position: absolute;
        display: block;
        margin-left: 10px;
        z-index: 10;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        flex-direction: column;
        top: -10px;
        left: -100%;
    }

    nav ul li {
        display: block;
        text-align: center;
        transform: translate(100px, 150px);
        z-index: 12;
    }
    .hov:hover{
        color: black;
        text-decoration-thickness: 3px;
    }
    .inp-1{
        width: 600px;
        margin-left: -50px;
    }
    
    .inp-2, .inp-3, .inp-4, .inp-5{
        grid-template-columns:600px;
        grid-template-rows: 30px 30px;
        margin-left: -50px;
    }
    
    .footer {
        flex-direction: column;
    }

    .foot1 {
        align-self: center;
        margin-top: 15px;
        margin-left: -10px;
    }
}