*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  height: auto;
  width: auto;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #06c465;
    /* position: fixed; */
}
.logo img{
    height: 40px;
    width: 40px;
    margin: 15px 60px;
}
nav ul{
    float: right;
    display: flex;
}
nav ul li{
    list-style-type: none;
    line-height: 80px;
    padding: 0 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: #000000;
}
nav ul li a.bg-red, a:hover{
    background-color: #ff0063;
    padding: 5px;
    border-radius: 8px;
    color: #dbd0d0;
}
#checkbtn{
    float: left;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    display: none;
   
}
#check{
    display: none;
}
#check:checked ~ ul{
    left:-200px
}

.customer-detail{
        display: inline-flex;
    width: 1200px;
    margin: 100px 0 0 150px;
}

.customer-img{
        width: 80%;
}
.customer-img img{
        width: 75%;
}
.customer-text{
    margin: 150px 0px 0px 100px;
}

.customer-detail1{
        display: inline-flex;
    width: 1200px;
    float: right;
    margin-top: 75px;
    /* margin: 0px 115px 0px 0px; */
    margin-right: 115px;


}

.customer-img1{
        width: 80%;
}
.customer-img1 img{
        width: 75%;
}
.customer-text1 h2,h4,p{
    width: 75%;
}
.customer-text1{
    width: 70%;
    margin: 150px 0px 0px 0px;
}





/* .footer{
  background-color: #000000;
    color: #ffff;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.text1{
  padding-inline: 30px;
      margin-top: 30px;

} */




@media screen and (max-width: 640px) {
 #checkbtn{
        position: absolute;
        display: block;
        margin-left: 10px;
        z-index: 999;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: #ffffff;
        position: fixed;
        flex-direction: column;
        top: -10px;
        left: -100%;
    }
    nav ul li{
      display: block;
      text-align: center;
      transform: translate(100px, 150px);
    }
}